@font-face {
  font-family: "CooperHewittHeavy";
  src: url("../fonts/cooperhewitt-heavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --dk-grey1: #3a3a3a;
  --dk-grey2: #404040;
  --dk-grey3: #707070;
  --light-grey1: #cbc9c9;
  --light-grey2: #f2f2f2;
  --dk-green: #727812;
  --dk-orange: #c65614;
  --golden: #b29124;
  --white1: #f2f2f2;
}

footer,
header {
  background-color: var(--dk-grey1);
}

header {
  position: relative;
}

html {
  width: 100vw;
}

section {
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  font-family: "CooperHewittHeavy", sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  color: var(--white1);
}

.flex-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  width: 100%;
  display: none;

  & .nav-bar li:hover,
  a:hover {
    color: var(--dk-green);
  }
}

.dropdown li:hover,
a:hover {
  color: var(--dk-green);
}

.nav-bar.active {
  position: absolute;

  padding: 0 1rem;
  top: 4rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  background-color: var(--dk-grey1);

  & .menu li {
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  & .dropdown {
    justify-items: end;
    padding-left: 0;
  }

  & svg {
    display: none;
  }
}
.toggle-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
  padding: 0;
  color: var(--white1);

  & svg {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

.menu {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & svg {
    width: 18px;
  }
}

.menu a {
  font-family: "CooperHewittHeavy", sans-serif;
  display: flex;
  text-decoration: none;
  color: var(--white1);
  gap: 0.5rem;
  justify-content: flex-end;
}

.menu li {
  font-weight: bold;
  list-style: none;
}

.dropdown ul {
  padding-left: 0;
}

.dropdown li {
  text-decoration: underline;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: normal;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
  gap: 2rem 2rem 0 2rem;
  max-width: 100%;
  font-family: "Merriweather Sans", sans-serif;

  & h4 {
    color: var(--white1);
  }

  & ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0.5rem;
  }

  & li {
    color: var(--light-grey1);
  }
}

.footer-container li:hover,
h4:hover {
  color: var(--dk-green);
  cursor: pointer;
}

.social-media-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

  & svg {
    width: 20px;
    fill: var(--white1);
  }

  & svg:hover {
    fill: var(--dk-green);
    cursor: pointer;
  }
}

/* Base styles for mobile view */
.footer-container div {
  flex: 1 1 calc(50% - 1rem);
}

.content-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 2rem;
}

.content-container h2 {
  font-family: "CooperHewittHeavy", "Cooper Hewitt Heavy", sans-serif;
  font-size: 90px;
}

.content-container h3 {
  font-family: "CooperHewittHeavy", "Cooper Hewitt Heavy", sans-serif;
  font-size: 42px;
  color: var(--golden);
}

.section-one,
.section-two {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  & div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.content-container p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1rem;
}

.section-one h2 {
  color: var(--dk-grey2);
  display: flex;
  flex-direction: column;
}

.section-one span {
  color: var(--dk-grey3);
  line-height: 50px;
  padding-left: 3rem;
}
.btn-discover {
  border-radius: 30px;
  background-color: var(--dk-grey2);
  color: var(--white1);
  font-weight: 600;
  padding: 0.5rem 2rem;
  border: none;
  width: 10rem;
}

.btn-discover-blog {
  border-radius: 30px;
  background-color: var(--white1);
  color: var(--dk-grey3);
  font-weight: 600;
  padding: 0.5rem 2rem;
  border: none;
  width: 12.5rem;
}

.section-one-content {
  padding-top: 1rem;
}

.img-breakfast img {
  width: 90%;
  align-self: flex-end;
}

.img-platter {
  position: relative;
  height: 11vh;
}

.img-platter img {
  position: relative;
  width: 65%;
  top: -4rem;
}

/* Section 2 */

.section-two {
  background-color: var(--light-grey2);
  padding-bottom: 2rem;
}

.section-two-header {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.section-two-header button {
  align-self: flex-end;
}

.section-two h2 {
  color: var(--dk-green);
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.section-two span {
  color: var(--dk-grey3);
  line-height: 50px;
  text-align: end;
}

.img-water {
  align-items: flex-end;
}
.img-water img {
  width: 75%;
}

/* Section Three */

.section-three {
  text-align: center;
}

.section-three h2 {
  position: relative;
}

.img-heart {
  width: 50px;
  position: relative;
  top: -9rem;
  left: 40px;
}

.img-heart svg {
  fill: var(--dk-orange);
}

.section-three-content {
  margin-bottom: -6rem;
}

/* section four */
.section-four-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  gap: 2rem;
}

.section-four-wrapper a {
  color: #404040;
}

.section-four-wrapper a:hover {
  color: var(--dk-green);
  cursor: pointer;
}

.section-four-img {
  background-color: var(--light-grey2);
  padding: 1.5rem 1.5rem 3rem 1.5rem;
}

.section-four-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}
.content-header {
  line-height: 6px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
}

/* Section five */
.section-five {
  padding: 0 1rem 1rem 1rem;
}

.section-five-wrapper {
  color: var(--white1);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--dk-grey2);
}

.section-five-content {
  padding: 2rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-five-content h3 {
  color: var(--white1);
  font-size: 90px;
  height: 15vh;
}

.section-five-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.section-five-description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section-five-description button {
  align-self: flex-end;
}

/* mobile view */
@media only screen and (min-width: 600px) {
  .nav-bar {
    display: block;
    width: 70%;
  }

  .flex-container {
    width: 30%;
  }

  .toggle-btn,
  .dropdown {
    display: none;
  }

  .menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .dropdown {
    position: absolute;
  }

  .dropdown.active {
    position: absolute;
    padding: 0 0.5rem 1rem 0.5rem;
    top: calc(100% + 0.75rem);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
    transition-delay: 1s, 1s, 0.3s;
    background-color: var(--dk-grey1);

    & li {
      display: flex;
      justify-content: center;
    }
  }
  .section-one,
  .section-two {
    flex-direction: row;
  }

  .section-one-header {
    width: 40%;
    padding-left: 2rem;
    padding-top: 1rem;
  }

  .section-one-header p {
    font-size: 11.5px;
  }

  .section-one-header h2,
  .section-two-header h2 {
    font-size: 70px;
  }

  /* Section two */
  .section-two-header {
    padding-top: 3rem;
    padding-left: 2rem;
  }

  .section-two-header span,
  button {
    padding-left: 2rem;
  }

  .section-one-content {
    width: 65%;
  }

  .img-water {
    position: relative;
  }

  .img-water img {
    position: relative;
    top: 3rem;
  }

  /* Section three */
  .section-three {
    text-align: start;
  }

  .section-three-header {
    padding-left: 3rem;
  }

  /* Section Four */
  .section-four-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .section-four-col {
    width: calc((100% / 2) - 0.5rem);
  }

  /* Section five */
  .section-five {
    flex-direction: row;
  }

  .section-five-wrapper {
    width: 75%;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 3rem;
  }

  .section-five-content {
    gap: 0;
    position: relative;
  }

  .section-five-header h3 {
    font-size: 60px;
    height: auto;
  }

  .section-five-description {
    padding-left: 2rem;
  }

  .section-five-description {
    width: 80%;
  }

  .section-five-description button {
    align-self: auto;
  }

  .section-five-img {
    width: 55%;
    position: absolute;
    top: 8rem;
    left: 76%;
  }
}

/* Medium view */
@media screen and (min-width: 820px) {
  .nav-bar {
    display: block;
    width: 55%;
  }

  .section-one {
    flex-direction: row;
    justify-content: space-between;
  }

  .section-one-header h2,
  .section-two-header h2 {
    font-size: 90px;
  }

  .section-one-header p {
    font-size: 16px;
  }

  .section-one-content {
    width: 60%;
  }

  .img-platter {
    height: 13vh;
  }

  .img-water img {
    width: 60%;
  }

  /* Section Four  */
  .section-four-img img {
    width: 100%;
  }

  /* Section five */
  .section-five-header h3 {
    font-size: 90px;
    height: 13vh;
  }

  .section-five-description {
    width: 55%;
  }

  .section-five-img {
    width: 70%;
    left: 60%;
    top: 7rem;
  }

  /* Footer */
  .footer-container {
    max-width: 75%;
    justify-content: space-between;
  }

  .footer-container div {
    flex: 1 1 calc(25% - 2rem); /* Four items per row */
  }
}

/* Large view */
@media screen and (min-width: 1350px) {
  .content-container {
    gap: 15rem;
  }
  .nav-bar {
    width: 55%;
    padding-right: 1rem;
  }

  .menu-link {
    font-size: 24px;
  }

  .menu-link a {
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
  }

  .section-one {
    width: 100%;
    padding-right: 1rem;
    padding-top: 1rem;
    justify-content: center;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  .section-one-header {
    padding-top: 10rem;
    max-width: 30%;
  }
  .section-one-header p {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  .section-one-content {
    max-width: 40%;
  }

  .img-platter {
    height: 20 vh;
  }

  /* Section two */
  .section-two {
    justify-content: space-between;
    height: 35vh;
  }

  .section-two-header h2 {
    font-size: 125px;
  }

  .section-two-header span {
    font-size: 90px;
    line-height: normal;
    margin-top: -4rem;
  }

  .section-two-header span,
  button {
    padding-left: 16rem;
  }

  .section-two-header button {
    margin-top: -3rem;
  }

  .section-two-content {
    width: 60%;
  }

  .img-water img {
    top: -5rem;
    right: 40%;
    max-width: 50%;
  }

  /* Section three */
  .section-three {
    padding-left: 10rem;
    margin-bottom: -21vh;
  }

  .section-four {
    margin-bottom: -20vh;
  }

  /* Section three */
  .section-four-col {
    width: calc((100% / 4) - 1rem);
  }

  /* Section five */
  .section-five-wrapper {
    width: 80%;
  }
  .section-five-header {
    width: 40%;
    margin: auto;
  }

  .section-five-header span {
    font-size: 120px;
  }

  .section-five-description {
    width: 40%;
    margin: auto;
    padding-left: 4rem;
  }

  .section-five-img {
    width: 100%;
    height: auto;
    left: 75%;
    top: 4rem;
  }

  .section-five-img img {
    width: 45%;
  }
}
